.home {
  background-color: #dff9fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-cont {
  padding: 2rem;
  width: 70%;
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
  justify-content: space-around;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.home-cont input {
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: larger;
  cursor: pointer;
}

.home-cont button {
  border: none;
  border-radius: 0.5rem;
  width: 7rem;
  padding: 0.5rem;
  background-color: #3434e9;
  font-size: large;
  color: #dff9fb;
  font-weight: 500;
  cursor: pointer;
}

.detail_cont {
  padding: 2rem;
  margin: 5px;
  width: 70%;
  display: flex;
  /* background-color: aqua; */
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Details page */
button {
  border: none;
  border-radius: 0.5rem;
  width: 7rem;
  padding: 0.5rem;
  background-color: #e12323;
  font-size: large;
  color: #dff9fb;
  font-weight: 500;
  cursor: pointer;
}
